
/dist
/tmp
/out-tsc
/bazel-out

/node_modules
npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/.vscode
/.angular

.DS_Store
Thumbs.db

**package-lock.json
